[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
colorama = "*"
psycopg = "*"
pytest = "*"
requests = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
