<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="{% static 'polls/auth.js' %}"></script>
</head>
<body>
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        <form id="form" action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                {% if question.choice_set.all %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                {% else %}
                        <h5>No choices available</h5>
                {% endif %}
        </form>
    </fieldset>
    <br>
    <button type="button" id="submit" value="Vote" onclick="return auth()">Vote</button>
    <a href ="{% url 'polls:results' question.id %}"><button type="button">Results</button></a>
    <a href ="{% url 'polls:index'%}"><button type="button">Back to polls</button></a>
</body>
</html>