<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="centerer">
        <a href="{% url 'polls:question_form' %}">
            <button type="button" id="create">CREATE NEW QUESTION</button>
        </a>
    </div>

    <fieldset>
        <legend><h1>Polls</h1></legend>

        {% if latest_questions %}
                {% for question in latest_questions %}
                    <a href="{% url 'polls:detail' question.id %}">
                        <button type="button" class="questions">{{ question.question_text }}</button>
                    </a>
                    <br><br>
                {% endfor %}
        {% else %}
            <p>No polls are available</p>
        {% endif %}
    </fieldset>
</body>
</html>












