li a {
    color: green;
    font-size: 20px;
}

li {
    color: white;
    font-size: 20px;
}

body {
    background: white url("images/background.png");
}

legend h1{
    color: Purple;
}

p strong{
    color: red
}

label {
    color: white;
}

h5 {
    color: red;
}